.google-button{
    text-align: center;
    height: 300px;
    margin-top: 60px;
    
}
.google-sign-in{
    border: none;
    border: 3px solid rgb(235, 50, 36);
    /* border-radius: 40px; */
    padding: 4px 20px;
    /* background-color: rgba(2, 18, 243, 0.192); */
    font-size: 22px;
}
.google-sign-in:hover{
    /* background-color: rgba(94, 62, 211, 0.26); */
    padding: 4px 24px;
    transition: 0.2s;
}
/* .google-sign{
    color: rgb(207, 15, 41);
} */