.google-button{
    text-align: center;
    height: 300px;
    margin-top: 60px;
    
}
.google-sign-in{
    border: none;
    border: 3px solid blue;
    border-radius: 40px;
    padding: 6px 30px;
    background-color: rgba(6, 2, 243, 0.356);
    font-size: 22px;
}
.google-sign-in:hover{
    background-color: rgba(94, 62, 211, 0.26);
    padding: 6px 38px;
    transition: 0.5s;
}
.google-sign{
    color: rgb(207, 15, 41);
}